.trip-logo {
  font-size: 2rem !important;
}

.header-text {
  font-size: 1.3rem !important;
}

.boardlist {
  padding: 5%;
}

.boardlist .hao {
  left: 75%;
}

.table-title {
  font-size: 2rem;
  text-align: center;
}

.damp_logo {
  width: 100%;
  height: 6.5vh;
}
